[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyserial = "*"
flask = "*"
pypdf2 = "*"
flask-cors = "*"
python-dotenv = "*"
anthropic = "*"
fpdf = "*"
pybrl = {git = "git+https://github.com/ant0nisk/pybrl.git"}
pdf2image = "*"
pymupdf = "*"
groq = "*"
pyinstaller = "*"
selenium = "*"

[dev-packages]

[requires]
python_version = "3.11"
